<h2 mat-dialog-title>{{description}}</h2>


<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input matInput
           placeholder="Title"
           i18n-placeholder
           formControlName="description">

  </mat-form-field>

  <mat-form-field>

        <textarea matInput
                  placeholder="Description"
                  i18n-placeholder
                  formControlName="longDescription">

        </textarea>

  </mat-form-field>

  <mat-form-field>

    <input matInput
           placeholder="Image Url"
           i18n-placeholder
           formControlName="iconUrl">

  </mat-form-field>

  <mat-form-field>

    <input matInput [matDatepicker]="startsOnDatepicker"
           placeholder="Starts on"
           i18n-placeholder
           formControlName="startsOn">
    <mat-datepicker-toggle matSuffix
                           [for]="startsOnDatepicker">
    </mat-datepicker-toggle>
    <mat-datepicker #startsOnDatepicker></mat-datepicker>

  </mat-form-field>

  <mat-form-field>

    <input matInput [matDatepicker]="endsOnDatepicker"
           placeholder="Ends on"
           i18n-placeholder
           formControlName="endsOn">
    <mat-datepicker-toggle matSuffix
                           [for]="endsOnDatepicker">
    </mat-datepicker-toggle>
    <mat-datepicker #endsOnDatepicker></mat-datepicker>

  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button"
          (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary"
          *ngIf="!isScheduleNew"
          (click)="form.valid && save()"
          i18n>
    Save
  </button>

  <button class="mat-raised-button mat-primary"
          *ngIf="isScheduleNew"
          (click)="form.valid && scheduleNew()"
          i18n>
    Create
  </button>

</mat-dialog-actions>
