<div class="courses-panel">

  <h3 i18n>All Courses</h3>

  <button mat-button class="mat-raised-button mat-accent"
          *ngIf="isAdmin$ | async"
          (click)="createCourse()" i18n>
    SCHEDULE NEW
  </button>

  <mat-tab-group>

    <ng-container *ngIf="(activeCourses$ | async) as activeCourses">

      <mat-tab label="Active" i18n-label *ngIf="activeCourses?.length > 0">

        <courses-card-list (courseEdited)="reloadCourses()"
                           [courses]="activeCourses">

        </courses-card-list>

      </mat-tab>

    </ng-container>

    <ng-container *ngIf="(archivedCourses$ | async) as archivedCourses">

      <mat-tab label="Archived" i18n-label *ngIf="archivedCourses?.length > 0">

        <courses-card-list (courseEdited)="reloadCourses()"
                           [courses]="archivedCourses">
        </courses-card-list>

      </mat-tab>

    </ng-container>


  </mat-tab-group>



</div>
